fastapi
uvicorn[standard]
sqlalchemy
alembic
asyncpg
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
bcrypt==3.2.2
passlib[bcrypt]
python-multipart
email-validator
gunicorn==21.2.0
python-dotenv==1.0.1
